@font-face {
    font-family: 'Minecraft';
    src: url('./assets/Minecraftia-Regular.ttf');
}

* {
    margin: 0;
    color: white;
    font-family: 'Minecraft';
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url('./assets/minecraftcafestatic.jpg');
    background-size: cover;
    backdrop-filter: blur(3px);
}

#header {
    height: 7%;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}

#header > nav {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.nav-button {
    border: transparent;
    background-color: transparent;
    cursor: pointer;
    font-size: 1rem;
    color: #DDD;
}

.nav-button:hover {
    border: transparent;
    background-color: transparent;
    cursor: pointer;
    font-size: 1rem;
    color: #FFF;
    border-radius: 1px;
    border-bottom: green solid 2px;
}

.nav-button-active {
    border: transparent;
    background-color: transparent;
    cursor: pointer;
    font-size: 1rem;
    color: #FFF;
    border-radius: 1px;
    border-bottom: green solid 2px;
}

#footer {
    height: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}


#content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.home {
    margin-top: 4rem;
    height: 40%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}



.menu-button {
    width: 50%;
    font-size: 1.25rem;
    padding-top: 0.5rem;
    background-image: url('https://i.ibb.co/rb2TWXL/bgbtn.png');
    background-size: cover;
    image-rendering: pixelated;
    border: 2px solid #000;
    color: #DDD;
    text-shadow: 2px 2px #000A;
    box-shadow: inset -2px -4px #0006, inset 2px 2px #FFF7;
    cursor: pointer;
}

.menu-button:hover {
    background-image: linear-gradient(rgba(100, 100, 255, .45), rgba(100, 100, 255, .45)), url('https://i.ibb.co/rb2TWXL/bgbtn.png');
    text-shadow: 2px 2px #202013CC;
    color: #FFFFA0;
}

.menu-button:active {
    box-shadow: inset -2px -4px #0004, inset 2px 2px #FFF5;
}

.mcsign {
    margin: auto;
    --scale: 1;
    background-image: url(https://file.garden/X1htvgJ0DEp_tp-Z/MSPFA%20other/Minecraft/636163130158286359.png);
    background-size: contain;
    --padding: calc(var(--scale) * 5px);
    height: calc(var(--scale) * (96px - 2 * var(--padding)));
    width: calc(var(--scale) * (192px - 2 * var(--padding)));
    text-align: center;
    font-size: calc(var(--scale) * 18px);
    line-height: calc(var(--scale) * (96px - 2 * var(--padding))/4);
    padding: var(--padding);

    display: flex;
    flex-direction: column;
}

.mcsign > span:nth-child(1) {
    font-size: 2rem;
}

.mcsign > span {
    font-size: 1.5rem;
    color: black;
}

.contact {
    margin-top: 10rem;
}

.menu {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 3rem;
    display: flex;
    flex-direction: row;
}

.menu-item {
    width: 100%;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    gap: 6rem;
}

.menu-image {
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./assets/mcitemframe.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.menu-sign {
    margin: auto;
    --scale: 1;
    background-image: url('https://file.garden/X1htvgJ0DEp_tp-Z/MSPFA%20other/Minecraft/636163130158286359.png');
    background-size: contain;
    --padding: calc(var(--scale) * 5px);
    height: calc(var(--scale) * (96px - 2 * var(--padding)));
    width: calc(var(--scale) * (192px - 2 * var(--padding)));
    text-align: center;
    font-size: calc(var(--scale) * 18px);
    padding: var(--padding);
    font-size: 1.25rem;
    
    display: flex;
    flex-direction: column;
}